.comments(ng-if="task.showComments" ng-controller="commentsCtrl")
  .comment(ng-repeat="comment in task.comments")
    .well.well-sm {{comment.text}}
  .new-comment
    %form(ng-submit="createComment(task)")
      %textarea.form-control.input-sm(type="text" placeholder="Your comment.." ng-model ="commentText.text" ng-required="true")
      %button.pull-right.btn.btn-sm.btn-success
        Add comment

