.comments(ng-if="task.showComments" ng-controller="commentsCtrl")
  .comment(ng-repeat="comment in task.comments")
    .well.well-sm
      %button.delete-comment-button.pull-right.close(aria-hidden="true" ng-click="deleteComment(comment)" type="button") &times;
      {{comment.text}}
      %ul.attachments
        %li(ng-repeat="attachment in comment.attachments")
          %span.glyphicon.glyphicon-file
          %a(href="{{attachment.file.file.url}}" download) {{attachment.file_identifier}}
          %span.times.delete-attachment(aria-hidden="true" ng-click="deleteAttachment(comment, attachment)") &times;
  .new-comment
    %form(ng-submit="createComment(task)")
      %textarea.form-control.input-sm(name="comment-textarea" type="text" placeholder="#{I18n.t('comments.comment_placeholred')}" ng-model ="commentText.text" ng-required="true" rows="2")
      %button.attachment.btn.btn-sm.btn-primary(name="attachment" ngf-select="" ngf-multiple="true" ng-model="files")
        = I18n.t('comments.attach_files')
      %a.pull-right.btn.btn-sm.btn-default(aria-hidden="true" ng-click="switchComments(task); sortableOptions.disabled = !sortableOptions.disabled")
        = I18n.t('comments.close')
      %button.pull-right.btn.btn-sm.btn-success
        = I18n.t('comments.add_comment')
      .upload-attachments
        %p(ng-repeat="file in files")
          %span.glyphicon.glyphicon-file {{file.name}}
          %span.times.delete-upload-attachment(ng-click="deleteUploadAttachment($index)") &times;
