%div(ng-repeat="project in projects | orderBy: 'id' : reverse")
  .panel.panel-primary

    .panel-heading

      .title
        %span.glyphicon.glyphicon-list-alt.list(aria-hidden="true" ng-hide="input")
        %span.panel-title(ng-hide="input") &nbsp; {{project.title | limitTo: 32}}

        .pull-right.edit-project(ng-hide="input")
          %span.glyphicon.glyphicon-pencil(aria-hidden="true" style="cursor: pointer; font-size: 15px" ng-click="input=true")
          %span.glyphicon.glyphicon-trash(aria-hidden="true" style="cursor: pointer; font-size: 15px" ng-click="deleteProject(project)")

      %form(ng-show="input")
        .input-group
          %span.input-group-addon
            %span.glyphicon.glyphicon-list-alt(aria-hidden="true")
          %input.form-control(ng-model="project.title")
          %span.input-group-btn
            %button.btn.btn-default(ng-click="input=false; updateProject(project)")
              %span.glyphicon.glyphicon-ok-circle
            %a.btn.btn-default(ng-click="input=false")
              %span.glyphicon.glyphicon-remove-circle

    .panel-footer
      %form.form-inline(ng-controller="tasksCtrl" ng-submit="createTask(project)")
        .input-group
          %span.input-group-addon
            %span.glyphicon.glyphicon-plus.task-plus(aria-hidden="true")
          .form-group
            %input.form-control.task-title-input(ng-model="task_title" placeholder="Start typing here to create task...")
          .form-group
            %input.form-control.deadline(type="date" ng-model="deadline")
          %span.input-group-btn
            %button.btn.btn-success
              Add Task


    .tasks(ng-include = "'angular/templates/_tasks.html'")
