.panel.panel-primary(ng-repeat="project in projects | orderBy: 'id' : reverse")

  .panel-heading

    .title(ng-if="!project.editProject")
      %span.glyphicon.glyphicon-list-alt.list(aria-hidden="true")
      %span.panel-title &nbsp; {{project.title | limitTo: 32}}

      .pull-right.edit-project
        %span.glyphicon.glyphicon-pencil.project-edit(aria-hidden="true" ng-click="switchEditProject(project)")
        %span.glyphicon.glyphicon-trash.project-delete(aria-hidden="true" ng-click="deleteProject(project)")

    %form(ng-if="project.editProject" novalidate ng-submit="updateProject(project); switchEditProject(project)" name="updateProjectForm")
      .input-group
        %span.input-group-addon
          %span.glyphicon.glyphicon-list-alt(aria-hidden="true")
        %input#edit-project-input.form-control(type="text" ng-model="projectTitleUpdate.title" ng-required="true" ng-minlength="1")
        %span.input-group-btn
          %button#update-project-button.btn.btn-default(type="submit" ng-disabled="updateProjectForm.$invalid")
            %span.glyphicon.glyphicon-ok-circle
          %a.btn.btn-default(ng-click="switchEditProject(project)")
            %span.glyphicon.glyphicon-remove-circle

  .panel-footer
    %form(ng-controller="tasksCtrl" ng-submit="createTask(project)")
      .input-group
        %span.input-group-addon
          %span.glyphicon.glyphicon-plus.task-plus(aria-hidden="true")
        .form-group
          %input#task-title-input.form-control(ng-model="taskTitle.title" placeholder="#{I18n.t('tasks.task_placeholder')}")
        %span.input-group-btn
          %button.btn.btn-success= I18n.t('projects.add_task')


  %table.table.task-table(ng-controller="tasksCtrl" ng-include = "'angular/templates/_tasks.html'")
