.container
  .row
    .col-md-4.col-md-offset-4
      %form(ng-submit= "handleLoginBtnClick()" role="form")
        .form-group
          %label email
          %input.form-control(name="email" ng-model="loginForm.email" required="required" type ="email")
        .form-group
          %label password
          %input.form-control(name="password" ng-model="loginForm.password" required="required" type="password")
        %button.btn.btn-primary(type="submit") Sign in
        %p
          New?
          %a(ui-sref="sign_up") Create an account
        %p
          %a(href="/#/" ng-click="handleFacebookBtnClick()") Facebook
