%tbody(ui-sortable="sortableOptions" ng-model="project.tasks")
  %tr(ng-repeat="task in project.tasks")
    %td
      %label
        %input.text-center(type="checkbox" ng-checked="task.done" ng-click="switchTaskDone(task)")
    %td.task-title(ng-if="!task.editTask") {{task.title}}
    %td.edit-task-title(ng-if="task.editTask")
      %form(ng-submit="updateTask(task); switchEditTask(task)" novalidate name="updateTaskForm")
        .input-group
          %input.input-sm.form-control(type="text" ng-model="taskTitleUpdate.title" ng-required="true" ng-minlength="1")
          %span.input-group-btn
            %button.btn.btn-default.btn-sm(type="submit" ng-disabled="updateTaskForm.$invalid")
              %span.glyphicon.glyphicon-ok-circle
            %a.btn.btn-default.btn-sm(ng-click="switchEditTask(task)")
              %span.glyphicon.glyphicon-remove-circle
    %td.task-date
      %span.label.label-warning {{task.deadline | date:'dd-MM-yyyy'}}
    %td
      .edit-task.dropdown
        %span.glyphicon.glyphicon-calendar.task-date.dropdown-toggle{ "id" => "task-date-{{task.id}}", "aria-hidden" => "true", "data-toggle" => "dropdown"}
        %ul.dropdown-menu{:role => "menu"}
          %datetimepicker{"data-datetimepicker-config" => "{ dropdownSelector: 'task-date-{{task.id}}', minView:'day' }", "data-ng-model" => "data.dateDropDownLink"}
        %span.glyphicon.glyphicon-pencil.task-edit(aria-hidden="true" ng-click="switchEditTask(task)")
        %span.glyphicon.glyphicon-trash.task-delete(aria-hidden="true" ng-click="deleteTask(task)")
