.table-responsive
  %table.table-bordered
    %tbody
      %tr(ng-repeat="task in project.tasks")
        %td
          %label
            %input(type="checkbox")
        %td {{task.title}}
        %td {{task.deadline}}
