%tbody(ui-sortable="sortableOptions" ng-model="project.tasks")
  %tr.task-row(ng-repeat="task in project.tasks | orderBy:'position'")
    %td.task-checkbox
      %label
        %input.text-center(type="checkbox" ng-checked="task.done" ng-click="switchTaskDone(task)")
    %td.task(ng-if="!task.editTask" class="task-done-{{task.done}}")
      .task-title {{task.title}}

      .task-comments(ng-include = "'angular/templates/_comments.html'")

    %td.edit-task-title(ng-if="task.editTask")
      %form(ng-submit="updateTask(task); switchEditTask(task)" novalidate name="updateTaskForm")
        .input-group
          %input.input-sm.form-control(type="text" name="edit-task-title-input" ng-model="taskTitleUpdate.title" ng-required="true" ng-minlength="1")
          %span.input-group-btn
            %button.edit-task-title-submit.btn.btn-default.btn-sm(type="submit" ng-disabled="updateTaskForm.$invalid")
              %span.glyphicon.glyphicon-ok-circle
            %a.cancel-edit-task-title.btn.btn-default.btn-sm(ng-click="switchEditTask(task)")
              %span.glyphicon.glyphicon-remove-circle
    %td.task-date
      %span.label(ng-class="task.done ? 'label-success' : 'label-warning'") {{task.deadline | date:'dd-MM-yyyy'}}
    %td.task-edit-panel
      .edit-task.dropdown.text-center(ng-hide="showPanel")
        %span.glyphicon.glyphicon-calendar.task-edit-date.dropdown-toggle(id="dropdown-task{{task.id}}" data-toggle="dropdown" )
        %span.glyphicon.glyphicon-comment.task-comment(aria-hidden="true" ng-click="switchComments(task); sortableOptions.disabled = !sortableOptions.disabled")
        %ul.dropdown-menu(role="menu")
          %datetimepicker(data-on-set-time="setDeadline(task)" data-datetimepicker-config="{ dropdownSelector: '#dropdown-task' + task.id, minView: 'day', modelType: 'YYYY-MM-DD' }" data-ng-model="task.deadline")
        %span.glyphicon.glyphicon-pencil.task-edit(aria-hidden="true" ng-click="switchEditTask(task)")
        %span.glyphicon.glyphicon-trash.task-delete(aria-hidden="true" ng-click="deleteTask(task)")
