.btn.btn-sm.btn-default.pull-right(href="/#/" ng-controller="sessionsCtrl" ng-click="handleSignOutBtnClick()") Sign out
.col-md-2
.col-md-8

  .text-center
    %h2
      SIMPLE TODO LIST
      %br/
      %small FROM RUBY GARAGE
    %br

  .projects(ng-include="'angular/templates/_projects.html'")

  %form.center-block#new-project(ng-submit="createProject()" ng-show="showme" name="newprojectform")
    .input-group
      %input.form-control(type="text" ng-required="true" ng-minlength="1" ng-model="projectTitle.title" placeholder="Enter the new project title")
      %span.input-group-btn
        %button.btn.btn-default(type="submit" ng-click="showme=false" ng-disabled="newprojectform.$invalid")
          %span.glyphicon.glyphicon-ok-circle
        %a.btn.btn-default(ng-click="showme=false")
          %span.glyphicon.glyphicon-remove-circle

  %button.btn.btn-lg.btn-primary.center-block.add-project(ng-hide="showme" ng-click="showme=true")
    %span.glyphicon.glyphicon-plus.plus-project(aria-hidden="true")
    Add TODO list

.col-md-2
