body
  background: linear-gradient(to top, #DEC01C, #F8F3F3) no-repeat center center fixed
  background-size: cover

/* footer
html
  position: relative
  min-height: 100%

body
  /* Margin bottom by footer height
  margin-bottom: 30px

#footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here
  height: 30px
  color: white
