body
  background: linear-gradient(to top, #DEC01C, #F8F3F3) no-repeat center center fixed
  background-size: cover

.glyphicon:not(.glyphicon-ok-circle):not(.glyphicon-file):not(.glyphicon-list-alt):not(.task-plus)
  cursor: pointer

// index title

h2
  text-shadow: 1px -1px white
  font-weight: bold

// add project button
.add-project
  font-weight: bold
.plus-project
  // font: larger
  // color: #255B8A
  // text-shadow: 1px 1px 2px black, 0 0 1em #B5B4B4

// new project form
form#new-project
  width: 50%
  margin-bottom: 30px

// project show/hide pencil and trash ico
.edit-project
  display: none
.panel-heading:hover .edit-project
  display: block

// edit project panel
.edit-project
  font-size: 15px

//task show/hide pencil and trash ico
.edit-task > .glyphicon
  display: none
tbody > tr:hover .glyphicon
  display: inline
//ico color
tbody tr .glyphicon
  color: #59A9EC

//title font size
.list
  font-size: 21px
  margin-top: 6px
.panel-title
  font-size: 20px

//title edit project
.edit-project
  margin-top: 9px
.project-edit
  margin-right: 15px
.project-delete
  margin-right: 10px

// add task plus
.task-plus
  color: green

// table

.task-table
  tr > .task-checkbox
    text-align: center
    width: 5%
  tr > .task
    width: 70%
  tr > .task-date
    width: 9%
  tr > .task-edit-panel
    width: 16%

tbody > .task-row:hover
  background-color: #FCFEAF

input[type="checkbox"]
  vertical-align: sub

.task
  border-left: 3px double #efdadf
.edit-task-title
  border-left: 3px double #efdadf
td.edit-task-title.ng-scope
  padding-bottom: 5px
  padding-top: 5px
.task-date
  border-right: 1px solid #e7ebea

// when task done
.task-done-true > .task-title
  text-decoration: line-through
  color: grey

// #task length
.task-title
  word-break: break-all

// comments
.comments
  margin-top: 10px

// attachments
.attachments
  list-style-type: none
  padding-left: 10px

.times
  cursor: pointer
  color: red

// footer
html
  position: relative
  min-height: 100%

body
  margin-bottom: 30px

#footer
  position: absolute
  bottom: 0
  width: 100%
  height: 30px
  color: white



